* {
    margin: 0;
    padding: 0;
    font-family: arial;
    border: border-box;
}

.navaddress {
    font-size: 1.35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: black;
    color: white;
    height: 4rem;
    border-bottom: 4px solid yellow;
}

.thought {
    background-color: grey;
    color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

form {
    margin: 2rem 0 1 rem 0;
}

form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
padding: 2rem;
width: 40vh;
}

form input,select,button {
    width: 100%;
border: none;
outline: none;
border-radius: 0.75rem;
}

form input {
    font-size: 1rem;
    height: 2rem;
}
button {
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
    background-color: rgb(204, 39, 39);
    cursor: pointer;
    width: 15vh;
    border: 1px solid white;
} 

form select,h2 {
    text-shadow: 0 0 0.75rem whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
margin-bottom: 2rem;
} 


/* footer */

.footpannel1 {
    background-color: black;
    color: whitesmoke;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    text-align: center;
    padding-top: 25px;
}

.footpannel2 {
    background-color:lightgrey;
    color:white;
    text-shadow: 0 0 0.25rem black;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.15rem;
}

body {
    background-image: url(img2.jpg);
    background-size: cover;
}